body {
  background-color: #10A0B3;
  color: #fff;
  text-align: center;
  font-family: 'Tahoma', sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 5vh;
}

h1 {
  font-size: 230%;
}

p { margin: 5% 15% 2%;}

.main-container {
  padding-top: 5%;
}

.img-container-outer {
  width: 100%;
  position: relative;
}

.img-container-inner, .triangle-cover, #modal .img-container {
  border: #fff 1px solid;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}
.img-container-inner:not(.triangle-container), .triangle-cover, #modal .img-container {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}
.img-container-inner:hover, .triangle-cover:hover {
  border-color: yellow;
}
.img-container-inner:focus, .triangle-cover:focus {
  border-color: red;
}

.circle-container {
  border-radius: 50%;
}

.square-container img {
  margin-top: -5%;
  margin-left: -25%;
}

.triangle-container {
  position: relative;
  border-left: none;
  border-top: none;
  border-right: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.triangle-cover {
  position: absolute;
  background-color: #10A0B3;
}

.triangle-cover.cover-left {
  -ms-transform: rotate(-60deg); /* IE 9 */
  -webkit-transform: rotate(-60deg); /* Safari */
  transform: rotate(-60deg);
}

.triangle-cover.cover-right {
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Safari */
  transform: rotate(60deg);
}

.triangle-bottom-shadow {
  position: absolute;
  height: 1px;
  width: 50vh;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
}

img {
  width: 160%;
  height: auto;
}

/* Dimensiones a dos columnas*/
@media (min-width: 800px) {
  .img-container-outer {
    width: 47vw;
    height: 39vw;
    float: left;
    margin-bottom: 1vw;
    text-align: center;
  }
  .img-container-outer:nth-child(odd) {
    margin-right: 2vw;
  }
  .circle-container {
    height: 35vw;
    width: 35vw;
  }
  .rectangle-container {
    height: 25vw;
    width: 35vw;
    margin-top: 5vw;
  }
  .square-container {
    height: 32vw;
    width: 32vw;
  }
  .triangle-container {
    height: 27.65vw; /* lado x 0.866 */
    width: 32vw;
    margin-top: 2.5vw;
  }
  .triangle-cover {
    width: 32vw;
    height: 32vw;
  }
  .triangle-cover.cover-left {
    left: -21.9vw;
    bottom: 5.8vw;
  }
  .triangle-cover.cover-right {
    right: -22vw;
    bottom: 5.8vw;
  }
}

/* Dimensiones a una columna */

@media (max-width: 799px) {
  .triangle-bottom-shadow {
    display: none;
  }
  .img-container-outer {
    margin: 10% auto;
  }
  .img-container-outer {
    width: 80vw;
    height: 79vw;
    margin: 1vw auto;
  }
  .circle-container {
    height: 75vw;
    width: 75vw;
  }
  .rectangle-container {
    height: 55vw;
    width: 75vw;
    margin-top: 15vw;
  }
  .square-container {
    height: 75vw;
    width: 75vw;
  }
  .triangle-container {
    height: 60.6vw; /* lado x 0.86 */
    width: 70vw;
    margin-top: 7vw;
  }
  .triangle-cover {
    width: 70vw;
    height: 70vw;
  }
  .triangle-cover.cover-left {
    left: -48.1vw;
    bottom: 12.5vw;
  }
  .triangle-cover.cover-right {
    right: -48.2vw;
    bottom: 12.5vw;
  }
}

/* Modal */

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #10A0B3;|
}

#modal .close {
  position: fixed;
  top: 2%;
  right: 10%;
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
}

#modal .close img {
  width: 100%;
  height: auto;
}

#modal h2 {
  font-size: 180%;
  margin-top: 5%;
}

#modal .img-container {
  width: 90%;
  margin: 2.5% auto;
  height: auto;
  display: table;
}

#modal .img-container > img {
  width: 100%;
  height: auto;
  cursor: default;
  margin-bottom: -4px;
}

@media(max-width: 799px) {
  #modal {
    padding-top: 5%;
  }
  #modal .close {
    top:5%;
    width: 2em;
    height: 2em;
  }
  #modal .img-container {
    margin-top: 10%;
  }
}
